<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button id="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container text-center">
    <ion-img class="ion-margin" src="../../assets/img/gato.jpg"></ion-img>
    <ion-accordion-group class="ion-margin">
      <ion-accordion value="1">
        <ion-item slot="header" color="light">
          <ion-label>Felipe Guedes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="2">
        <ion-item slot="header" color="light">
          <ion-label>Iure Freire</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="3">
        <ion-item slot="header" color="light">
          <ion-label>Lorrany Ferreira</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="4">
        <ion-item slot="header" color="light">
          <ion-label>Patrick do Carmo</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card class="text-center">
            <img alt="Patrick" src="../../assets/img/patrick.jpg">
            <ion-card-header>
              <ion-card-title>Patrick</ion-card-title>
              <ion-card-subtitle>Desenvolvedor Back-End</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              TypeScript | Node.js | Express.js | PostgreSQL | Git
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="5">
        <ion-item slot="header" color="light">
          <ion-label>Thayná Miranda</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>