<app-header [title]="'Devs'"></app-header>

<ion-content [fullscreen]="true">
  <div class="container text-center">
    <ion-title class="ion-padding text-center">Desenvolvedores</ion-title>
    <swiper-container pagination="true" pagination-type="progressbar" autoplay-delay="3000">
      <swiper-slide *ngFor="let dev of devs">
        <ion-card class="text-center">
          <img alt="Foto de {{dev.name}}" src="{{dev.img ?? 'https://ionicframework.com/docs/img/demos/card-media.png'}}" />
          <ion-card-header>
            <ion-card-title>{{dev.name}}</ion-card-title>
            <ion-card-subtitle *ngIf="dev.role">{{dev.role}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{dev.description}}
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>