img {
  padding: 15px;
  max-height: 450px;
  max-width: 100%;
  border-radius: 20px;
}

ion-title{
  font-size: 1.5rem;
  padding: 15px 0px;
}

swiper-container{
  max-width: 1200px
}

swiper-slide{
  padding: 10px 0px;
}

ion-card{
  border-radius: 20px;
}