<app-header [title]="'Perfil'"></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="text-center">
      <img alt="{{user?.displayName ?? 'Picture'}}" [src]="user?.photoURL ?? 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
      <ion-card-header>
        <ion-card-title>{{user?.displayName ?? null}}</ion-card-title>
        <ion-card-subtitle>{{user?.email}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-list *ngIf="isNative && loginWithEmail">
      <ion-list-header>
        <ion-label>Preferências</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        <ion-toggle [(ngModel)]="hasBiometry" (ionChange)="biometry($event)">
          <ion-label>Autenticação Biométrica</ion-label>
        </ion-toggle>
      </ion-item>
    </ion-list>

  </div>
</ion-content>