ion-item {
  ion-avatar {
    align-self: start;
  }
}

.flex {
  display: flex;
  justify-content: center;

  position: relative;

  .floating {
    position: absolute;
    right: 4px;
    top: 10px;
    z-index: 2;
  }
}

ion-label{
  .content{
    padding: 5px 0;
    font-size: 1.1rem;
  }
}