<ion-content [fullscreen]="true">
  <div id="container">
    <form #loginForm="ngForm" id="login-container" (keyup.enter)="emailAuth(this.email, this.password)">

      <img src="../../assets/img/ibge-logo-6.png" id="logo">
      <h1>Login</h1>

      <ion-input fill="outline" shape="round" label="E-mail:" labelPlacement="floating" name="email" type="email" required [(ngModel)]="email"></ion-input>

      <ion-input fill="outline" shape="round" label="Senha:" labelPlacement="floating" name="password" type="password" required [(ngModel)]="password"></ion-input>

      <div>
        <ion-button fill="clear" shape="round">Criar Conta</ion-button>
        <ion-button fill="clear" shape="round">Esqueceu a senha?</ion-button>
      </div>
      <div class="flex">
        <ion-button shape="round" (click)="emailAuth(this.email, this.password)">Enviar</ion-button>
        <ion-button (click)="loginForm.reset()" color="medium" shape="round">Limpar</ion-button>
      </div>

      <div *ngIf="error">
        <p style="color: red;">
          {{error}}
        </p>
      </div>
    </form>
  </div>
</ion-content>