ion-content{
  --background: url('../../../assets/img/fundo.jpg');
 }
 
 #container {
  text-align: center;
  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


#login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  max-width: 300px;

  background-color: var(--login);

  border-radius: 20px;
}

h1{
  font-size: 3rem;
  line-height: 30px;
  margin: 20px;
}

#logo{
  max-width: 200px;
  margin: 0 auto;
}

// .flex{
//   display: flex;
//   justify-content: center;
//   gap: 10px;
// }