<ion-content [fullscreen]="true">
  <div id="container">
    <div id="login-container">
      <ion-segment [(ngModel)]="type">
        <ion-segment-button value="login">
          <ion-label>Logar</ion-label>
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Cadastrar</ion-label>
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <form #loginForm="ngForm" (keyup.enter)="type === 'login' ? emailAuth(this.email, this.password) : emailRegister(this.email, this.password)" class="form">

        <img src="../../assets/img/ibge-logo-6.png" id="logo">
        <h1>{{type === 'login' ? 'Login' : 'Cadastrar'}}</h1>

        <div>
          <ion-input fill="outline" shape="round" label="E-mail:" labelPlacement="floating" name="email" type="email" required [(ngModel)]="email"></ion-input>
        </div>

        <div class="flex">
          <ion-input fill="outline" shape="round" label="Senha:" labelPlacement="floating" name="password" [type]="showPassword ? 'text' : 'password'" required [(ngModel)]="password">
          </ion-input>

          <ion-button slot="end" class="floating" fill="clear" shape="round" (click)="togglePassword()">
            <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </div>

        <div *ngIf="type === 'login'">
          <ion-button fill="clear" shape="round" size="small" (click)="openModal()">Esqueceu a senha?</ion-button>
        </div>

        <div class="flex">
          <ion-button shape="round" (click)="type === 'login' ? emailAuth(this.email, this.password) : emailRegister(this.email, this.password)" size="small">{{type === 'login' ? 'Logar' : 'Cadastrar'}}</ion-button>

          <ion-button (click)="loginForm.reset()" color="medium" shape="round" size="small">Limpar</ion-button>
        </div>

        <div *ngIf="type === 'login' && isNative && hasBiometry">
          <ion-button (click)="biometryAuth()" shape="round" fill="outline" size="small">
            <ion-icon name="finger-print"></ion-icon>
          </ion-button>
        </div>

      </form>
      <div *ngIf="error">
        <ion-text color="danger">{{error}}</ion-text>
      </div>

      <div *ngIf="message">
        <ion-text color="primary">{{message}}</ion-text>
      </div>

    </div>
  </div>
</ion-content>