<ion-item *ngFor="let item of items; let index = index" class="text-center">
  <ion-card>
    <ion-img [src]="item.image" [alt]="item.title" (click)="news.openNews(item.link)"></ion-img>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{item.intro}}
      <ion-button (click)="news.openNews(item.link)" shape="round" class="ion-margin-bottom" fill="clear">Ler mais</ion-button>
    </ion-card-content>

    <ion-buttons class="ion-justify-content-center">
      @if(!isBookmarksPage){
      <div>
        <ion-button shape="round" (click)="showLikes(item)">{{item.likes}}</ion-button>
        <ion-button shape="round" (click)="toggleLike(item)" [color]="item.liked ? 'primary' : 'medium'">
          <ion-icon [name]="item.liked ? 'thumbs-up' : 'thumbs-up-outline'"></ion-icon>
        </ion-button>
      </div>
      }
      <ion-button shape="round" color="primary" fill="solid" (click)="openComments(item)">Comentários</ion-button>
    </ion-buttons>

  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" class="ion-margin-end">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="news.copyLink(item.link)">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="news.shareNews(item.link)">
        <ion-icon name="share-social-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon [name]="getItemIcon(item)" (click)="toogleBookmark(item)"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-item>