<ion-item *ngFor="let item of news" class="text-center">
  <ion-card>
    <ion-img [src]="item.image" [alt]="item.title"></ion-img>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{item.intro}}</ion-card-content>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button (click)="home.openNews(item.link)">Ler mais</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" class="padding-right">
    <ion-fab-button size="small">
      <ion-icon name="share-social-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="home.copyLink(item.link)">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="home.shareNews(item.link)">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-item>