<ion-item *ngFor="let item of items; let index = index" class="text-center">
  <ion-card>
    <ion-img [src]="item.image" [alt]="item.title"></ion-img>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{item.intro}}</ion-card-content>

    <ion-button (click)="news.openNews(item.link)" shape="round" class="padding-button">Leia mais</ion-button>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" class="padding-right">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="news.copyLink(item.link)">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="news.shareNews(item.link)">
        <ion-icon name="share-social-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon [name]="getItemIcon(item)" (click)="toogleBookmark(item)"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-item>