<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Notícias
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button id="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list>
      <ion-item>
        <ion-searchbar animated="true" placeholder="Pesquisar"></ion-searchbar>
      </ion-item>

      <ion-item *ngFor="let item of items" class="text-center">
        <ion-card>
          <ion-img src="{{item.image}}" alt="{{item.title}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>{{item.intro}}</ion-card-content>

          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button href="{{item.link}}" target="_blank">Ler mais</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-fab horizontal="end" vertical="bottom" class="margin-right">
          <ion-fab-button size="small">
            <ion-icon name="share-social-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button (click)="copyLink(item.link)">
              <ion-icon name="document"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="shareNews(item.link)">
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Carregando..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>